<div class="container">
  <div class="row">
    <div class="col-md-1">
    </div>
    <div class="col-md-10">
      <% @quizzes.each do |t| %>
      <div class="question">
        <%= t.id %>
        <%= t.question %><br>
        <%= link_to "答えを見る", quiz_path(t.id) %>
        <%= link_to "編集する", edit_quiz_path(t.id) %>
        <%= link_to "削除する", quiz_path(t.id), method: :delete %>
      </div>
      <% end %>
      <%= link_to "クイズを作成する", new_quiz_path, class: "btn btn-primary" %><br>
      <br>
    </div>
    <div class="col-md-1">
    </div>
  </div>
</div>
